
<button  mat-raised-button (click)="onAddAnalyst()"[color]="'primary'">Add Analyst</button>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <ng-container matColumnDef="analystName">
    <th mat-header-cell *matHeaderCellDef> Analyst Name </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

  <ng-container matColumnDef="companies">
    <th mat-header-cell *matHeaderCellDef> Companies </th>
    <td mat-cell *matCellDef="let element"> {{element.companies | numericList}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

