<h2 mat-dialog-title>New Analyst</h2>

<div [formGroup]="analystFormGroup">

  <mat-form-field appearance="fill">
    <mat-label>Analyst Name</mat-label>
    <input matInput formControlName="name">
  </mat-form-field>


  <mat-form-field appearance="fill">
    <mat-label>Companies</mat-label>
    <mat-chip-list #chipList multiple>
      <mat-chip *ngFor="let company of selectedCompanies"
                (removed)="onCompanyRemove(company)">
        {{company.name}}
        <button matChipRemove>
          <mat-icon>cancel</mat-icon>
        </button>
      </mat-chip>
      <input
        placeholder="Select Companies..."
        #companyInput
        [matAutocomplete]="auto"
        [matChipInputAddOnBlur]="true"
        [matChipInputFor]="chipList">
    </mat-chip-list>
    <mat-autocomplete #auto (optionSelected)="onCompanyAdd($event.option.value)">
      <mat-option *ngFor="let company of availableCompanies" [value]="company">
        {{company.name}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

</div>

<mat-dialog-actions align="end">

  <button mat-button [mat-dialog-close]="false">Cancel</button>
  <button mat-button (click)="onSave()">Save</button>
</mat-dialog-actions>
