
<div class="wrapper">

  <h1>
    <mat-toolbar  color="primary" >
      <span>Company Analyst</span>
    </mat-toolbar>
  </h1>

  <div class="mat-button-wrapper">
    <mat-button-toggle-group >
      <mat-button-toggle routerLink="/companies" routerLinkActive="active" value="italic">Companies</mat-button-toggle>
      <mat-button-toggle routerLink="/analysts" routerLinkActive="active"  value="bold">Analysts</mat-button-toggle>
    </mat-button-toggle-group>
  </div>


  <div class="router-wrapper" >
    <router-outlet></router-outlet>
  </div>

</div>
