<h2 mat-dialog-title>Adding new Company</h2>

<div [formGroup]="companyFormGroup">

  <mat-form-field appearance="fill">
    <mat-label>Company name</mat-label>
    <input matInput formControlName="companyName">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Analysts</mat-label>
    <select matNativeControl formControlName='analysts'>
      <option *ngFor="let analyst of listAnalysts"
              [value]="analyst.name">{{analyst.name}}</option>
    </select>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Sector</mat-label>
    <select matNativeControl formControlName='sector'>
      <option *ngFor="let analyst of listAnalysts" [value]="analyst.sector">{{analyst.sector}}</option>
    </select>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Market Cup</mat-label>
    <input matInput formControlName="marketCap">
  </mat-form-field>

</div>

<mat-dialog-actions align="end">

  <button mat-button [mat-dialog-close]="false">Cancel</button>
  <button mat-button (click)="onSave()">Save</button>
</mat-dialog-actions>
