<h2 mat-dialog-title>Adding new Company</h2>

<div [formGroup]="companyFormGroup">

  <mat-form-field appearance="fill">
    <mat-label>Company name</mat-label>
    <input matInput formControlName="name">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Analysts</mat-label>
    <mat-chip-list #chipList multiple>
      <mat-chip *ngFor="let analyst of selectedAnalysts"
        (removed)="onAnalystRemove(analyst)">
        {{analyst.name}}
        <button matChipRemove>
          <mat-icon>cancel</mat-icon>
        </button>
      </mat-chip>
      <input
        placeholder="Select Analyst..."
        #analystInput
        [matAutocomplete]="auto"
        [matChipInputAddOnBlur]="true"
        [matChipInputFor]="chipList">
    </mat-chip-list>
    <mat-autocomplete #auto (optionSelected)="onAnalystAdd($event.option.value)">
      <mat-option *ngFor="let analyst of availableAnalysts" [value]="analyst">
        {{analyst.name}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Sector</mat-label>
    <select matNativeControl formControlName='sector'>
      <option *ngFor="let sector of allSectors"
              [value]="sector.id">{{sector.name}}</option>
    </select>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Market Capitalization</mat-label>
    <input matInput formControlName="marketCap">
  </mat-form-field>

</div>

<mat-dialog-actions align="end">

  <button mat-button [mat-dialog-close]="false">Cancel</button>
  <button mat-button (click)="onSave()">Save</button>
</mat-dialog-actions>
